{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
</head>
<body>

<!--Main section starts here-->

<div class="container">
    <h1 class="donate", style=text-align:center;>Reset your password</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
</div>

</body>
</html>