{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
</head>
<body>


<div class="container">
    <h1 class="donate", style=text-align:center;>Set your password</h1><br>
    
        {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                <b>{{ form.as_p}}</b>
                <input type="submit" value="Save">
            </form>
        {% else %}
            <p>Invalid token.</p>
            <a href="{% url 'password_reset' %}"><input type="submit" value="Request a new password reset toke"></a>
        {% endif %}
</div>
</body>
</html>
