{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
</head>
<body>

<!--Main section starts here-->
<form method='POST' action=" " >
  {% csrf_token %}
<div class="container">
    <h1 class="donate", style=text-align:center;>Reset your password</h1>
    {{ form.as_p }}
    <a><input type="submit" value="Link"></a>
  </div>
</form>

</body>
</html>