
html {
  scroll-behavior: smooth;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(97, 76, 175);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #4645a0;
}

.container {
  border-radius: 5px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 430px;
  margin-right: 430px;
}


.container h1{
    color: black;
   font-family: sans-serif;
}
/* Footer starts here */
input[type="checkbox"]
{
    font-size: 14px;
    margin: 10px;
    padding: 4px;
}