html {
  scroll-behavior: smooth;
}

.orgName {
  color: white;
  position: relative;

  text-align: center;

  text-shadow: 3px 0px 7px rgba(190, 182, 156, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  background-color: gray;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.css-1i14b13 {
  box-shadow: black 0px 0px 0px;
  border: 1px solid blue;
  color: black;
  text-align: center;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  transition: all 0.15s linear 0s;
}
.css-1i14b13:hover{
  background-color: blue; 
  color: white;
}
.b-r\:9 {
  border-radius: 4.29982rem !important;
}
.d\:b {
  display: block !important;
}
@media (min-width: 900px) {
  .p-x\:2\@md {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}
@media (min-width: 900px) {
  .p-b\:\.8\@md {
    padding-bottom: 50rem !important;
  }
}
@media (min-width: 900px) {
  .p-t\:\.7\@md {
    padding-top: 0.5787rem !important;
  }
}
@media (min-width: 900px) {
  .m-r\:1\@md {
    margin-right: 1rem !important;
  }
}
@media (min-width: 900px) {
  .m-b\:1\@md {
    margin-bottom: 1rem !important;
  }
}
.p-x\:1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.p-b\:\.7 {
  padding-bottom: 0.5787rem !important;
}
.p-t\:\.6 {
  padding-top: 0.6rem !important;
}
.m-r\:\.8 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.m-b\:\.8 {
  margin-bottom: 2rem !important;
}
.f-w\:500 {
  font-weight: 500 !important;
}
@media (min-width: 900px) {
  .f-z\:1\@md,
  .f\:1\@md {
    font-size: 1rem !important;
  }
}
.f-z\:\.9,
.f\:\.9 {
  font-size: 1rem !important;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet label {
  cursor: default;
}
.t-a\:c {
  text-align: center !important;
}
constructed stylesheet .css-1h7gza2 {
  text-align: center;
  animation: 10s ease 0s infinite normal none running undefined;
  will-change: background-position;
  background: black;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.page {
  line-height: 1.3;
}
.page {
  font-size: 87.5%;
  line-height: 1.5;
}
body,
input,
select {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
html {
  letter-spacing: -0.025em;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Footer starts here */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eaf0f2;
}

body {
  font: 16px/1.6 Arial, sans-serif;
}





.float-layout {
  padding: 20px 120px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
 
}

.newscard-container {
  overflow: hidden;
}

.newscard {
  background-color: gray;
  color: white;

  min-height: 100%; /*replace this it in width: 100%*/
  width: 70%;
  float: right;
 
  border-bottom-right-radius: 20px;
 
}

.newscard-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}

.newscard-desc {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

/*add this it*/
.newscard-image {
  display: flex;
  margin: 10px;
}
/*-------------*/

div.newscard-image img {
  width: 30%;
  height: auto;
}

/* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
  div.newscard-image img {
    width: 100%;
    height: auto;
  }
  
  /*add this it*/
  .newscard-image {
     flex-direction: column;
  }
  /*----------------------*/

  .newscard {
    width: 100%;
    margin-top: -4px;
  }
}

.news_btn
{
  
  width: 90px;
  margin: 20px 20px;
  padding: 3px;
  border-radius: 1px;
}




/* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 26px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
