{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/education.css' %}" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Categories</title>
      </head>
      <body>
        <!--Navbar starts here-->
        <div class="topnav">
          <h1 class="orgName">Edu4</h1>
          <!-- Centered link -->
          <div class="topnav-centered">
            <a href="#education">Education</a>
          </div>
          <!-- Left-aligned links (default) -->
          <a href="#news">News</a>
          <!-- Right-aligned links -->
          <div class="topnav-right">
            
            <a href="{% url 'home' %}">Home</a>
          </div>
        </div>
        <div>
          <h1></h1>
        </div>
        <!--Main section starts here-->
        <div class="m-t:8">
          <div class="checkbox d:i-b"><a href="{% url 'engineering' %}" target="_blank" style="text-decoration: none; color: black;">
            <label 
            for="Engineering"
              class="tag-topic d:b cur:p m-r:.8 m-b:.8 m-r:1@md m-b:1@md p-x:1 p-t:.6 p-b:.7 p-x:2@md p-t:.7@md p-b:.8@md b-r:9 f-w:500 f:.9 f:1@md css-1i14b13 e1e0izx30"
              >Engineering</label
            ></a>
          </div>
        </div>
        <div style="opacity: 1; transform: scale(1)">
          <div class="checkbox d:i-b"><a href="{% url 'medical' %}" target="_blank" style="text-decoration: none; color: black;">
            <label
              for="medical"
              class="tag-topic d:b cur:p m-r:.8 m-b:.8 m-r:1@md m-b:1@md p-x:1 p-t:.6 p-b:.7 p-x:2@md p-t:.7@md p-b:.8@md b-r:9 f-w:500 f:.9 f:1@md css-1i14b13 e1e0izx30"
              >Medical</label></a>
          </div>
          </div>
        </div>
        <div style="opacity: 1; transform: scale(1)">
          <div class="checkbox d:i-b"> <a href="{% url 'humanities' %}" target="_blank" style="text-decoration: none; color: black;">
            <label
              for="Humanities"
              class="tag-topic d:b cur:p m-r:.8 m-b:.8 m-r:1@md m-b:1@md p-x:1 p-t:.6 p-b:.7 p-x:2@md p-t:.7@md p-b:.8@md b-r:9 f-w:500 f:.9 f:1@md css-1i14b13 e1e0izx30"
              >Humanities</label
            ></a>
          </div>
        </div>
        <div style="opacity: 1; transform: scale(1)">
          <div class="checkbox d:i-b"> <a href="{% url 'mang' %}" target="_blank" style="text-decoration: none; color: black;">
            <label
              for="Business and Management"
              class="tag-topic d:b cur:p m-r:.8 m-b:.8 m-r:1@md m-b:1@md p-x:1 p-t:.6 p-b:.7 p-x:2@md p-t:.7@md p-b:.8@md b-r:9 f-w:500 f:.9 f:1@md css-1i14b13 e1e0izx30"
              >Business and Management</label
            ></a>
          </div>
        </div>





        
    <!--News section starts here-->

    <div class="newscard-container" id="news">
      <div class="float-layout">
        <h1 style="text-align: center;">News and Events</h1>
        <div class="newscard-image">
          <img
            src="https://www.careerindia.com/img/2020/12/jeemainexam-1607701490.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>JEE Main 2021 News: JEE Main Exam To Be Conducted Four Times In 2021, First Edition From February 23 to 26</h5>
              <h7>16 Dec 2020 </h7>
            </div>
            <div class="newscard-desc">
             The Joint Entrance Examination or the JEE Mains Exam is to be conducted four times in 2021 starting from February to May, according to the Union Minister for Education Dr. Ramesh Pokhriyal Nishank with the objective of providing greater flexibility to students.
            </div>

            <a
              href="https://www.careerindia.com/news/jee-main-2021-exam-news-jee-main-exam-to-be-conducted-four-times-in-2021-from-february-23-onwards-028070.html"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
        <div class="newscard-image">
          <img
            src="https://www.careerindia.com/img/2020/12/sc-1608096349.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>Supreme Court Directs States To Give Rs. 2000 A Month For Education Of Children Who Were In CCIs Amid Pandemic</h5>
              <h8>Dec 16 2020 </h8>
            </div>
            <div class="newscard-desc">
            The Supreme Court of India while hearing a 'suo motu' case on the plight of children throughout the country in the juvenile, protection and foster homes during the COVID-19 pandemic has directed all states to give Rs. 2,000 per month for the education of children who were at the child care institutions (CCIs) and now restored to their families.
            </div>
            <a
              href="https://www.careerindia.com/news/supreme-court-directs-states-to-give-rs-2000-a-month-for-education-of-children-who-were-in-ccis-028097.html"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
        <div class="newscard-image">
          <img
            src="https://www.careerindia.com/img/300x90/2020/12/cdsresult-1608130031.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>CDS Results 2020: UPSC Releases CDS Written Exam (II) Result 2020 On upsc.co.in</h5>
              <h8>16 Dec 2020 </h8>
            </div>
            <div class="newscard-desc">
              The Union Public Service Commission (UPSC) has declared the Combined Defence Services (CDS) (II) 2020 result. Candidates who have appeared for the written exam held on November 8 can check their CDS results 2020 on the official website - www.upsc.gov.in. The sources suggest that a total of 6727 candidates have qualified in the CDS (II) exam 2020.
            </div>
            <a
              href="https://www.careerindia.com/news/cds-results-2020-upsc-releases-cds-exam-result-2020-on-upsc-co-in-028101.html"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
      </div>
    </div>

        <!--Footer starts here-->
        <!-- The content of your page would go here. -->
        <footer class="footer-distributed">
          <div class="footer-left">
            <h3>Education <span>all over the world</span></h3>

            <img src="" />

            <p class="footer-company-name">© 2021 Edu4 Inc.</p>
          </div>

          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>
                <span>-----Address</span>
                ----place
              </p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91 22-27782183</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p>
                <a href="mailto:support@edu4.com"
                  >support@edu4.com</a
                >
              </p>
            </div>
          </div>
          <div class="footer-right">
            <p class="footer-company-about">
              <span>Our Social Media Coordinates:</span>
            </p>
            <div class="footer-icons">
              <a href="#"
                ><img
                  src="images/008-facebook.png"
                  style="width: 40px"
                  class="fa fa-facebook"
              /></a>
              <a href="#"
                ><img
                  src="images/001-twitter.png"
                  style="width: 40px"
                  class="fa fa-twitter"
              /></a>
              <a href="#"
                ><img
                  src="images/011-instagram.png"
                  style="width: 40px"
                  class="fa fa-instagram"
              /></a>
              <a href="#"
                ><img
                  src="images/010-linkedin.png"
                  style="width: 40px"
                  class="fa fa-linkedin"
              /></a>
              <a href="#"
                ><img
                  src="images/007-youtube.png"
                  style="width: 40px"
                  class="fa fa-youtube"
              /></a>
            </div>
          </div>
        </footer>
      </body>
    </html>
  </body>
</html>
