<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Global Giving</title>
    <link rel="stylesheet" href="css/health.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <!--Navbar starts here-->
    <div class="topnav">
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#healthcare">Healthcare</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#news">News</a>
      <a href="donate.html">Donate</a>
      <!-- Right-aligned links -->
      <div class="topnav-right">
        <a href="#blog">Blogs</a>       
        <a href="#emergency_num">Emergency numbers</a>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>

    






    <!--Search bar starts here-->
    <div class="searchform">
      <h1>Find Hospitals</h1>
      <div class="row1">
        <div class="dropdown">
          <input
            list="hospital"
            name="hospitals"
            placeholder="Find a hospital"
          />
          <datalist id="hospital">
            <option value="Acquistion Specialist"></option>
            <option value="Cloud Engineer - AWS Azure"></option>
            <option value="Compliance & Governance Manager"></option>
            <option value="Deskside Engineer - IT Support - Dublin"></option>
            <option value="Enterprise Management Tooling Architect "></option>
            <option
              value="Freelance Lead Motions Graphics Video and Animator"
            ></option>
          </datalist>
        </div>

        <div class="dropdown">
          <input
            list="hospital_location"
            name="hospitals"
            placeholder="Location"
          />
        </div>

        <div class="dropdown">
          <span><button class="button button2">Search</button></span>
        </div>
      </div>
    </div>

    <!--Safety section starts here-->
    <div class="safety">
      <div class="tips">
        <h1>Protection from Covid-19</h1>
        <ul>
          <li>
            <img src="images/check.png" style="height: 19px" />
            Avoid the 3Cs: spaces that are closed, crowded or involve close
            contact.
            <ul class="nested">
              <li>
                Outbreaks have been reported in restaurants, choir practices,
                fitness classes, nightclubs, offices and places of worship where
                people have gathered, often in crowded indoor settings where
                they talk loudly, shout, breathe heavily or sing.
              </li>
              <li>
                The risks of getting COVID-19 are higher in crowded and
                inadequately ventilated spaces where infected people spend long
                periods of time together in close proximity. These environments
                are where the virus appears to spreads by respiratory droplets
                or aerosols more efficiently, so taking precautions is even more
                important.
              </li>
            </ul>
          </li>
          <li>
            <img src="images/check.png" style="height: 19px" />Outdoor
            gatherings are safer than indoor ones, particularly if indoor spaces
            are small and without outdoor air coming in
          </li>
          <li>
            <img src="images/check.png" style="height: 19px" /> Avoid crowded or
            indoor settings but if you can’t, then take precautions:

            <ul class="nested">
              <li>
                Open a window. Increase the amount of ‘natural ventilation’ when
                indoors.
              </li>
              <li>
                WHO has published Q&As on ventilation and air conditioning for
                both the general public and people who manage public spaces and
                buildings.
              </li>
              <li>Wear a mask</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>






           <div class="roles" id="blog">
      <h1 style="font-weight:bolder;">Blogs</h1>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/FORTIS-ADVISORY_WEARING-A-MASK.PDF" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/FHL-ADV-1.jpg " style="width: 100%;" alt="Advisories coverage"></a>
             <a href="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/FORTIS-ADVISORY_WEARING-A-MASK.PDF" target="_blank"><button class="button button2">Read More</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
           <a href="https://www.fortishealthcare.com/blog/coronavirus-covid-19-kidney-diseases/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/coronavirus-covid19-and-kidny-case.png" style="width: 100%;"alt="Coronavirus (Covid-19) and kidney diseases"></a>
          <a href="https://www.fortishealthcare.com/blog/coronavirus-covid-19-kidney-diseases/" target="_blank"><button class="button button2">Read more</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
          <a href="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/COVID-19FortisHealingTouchIssueNo-08-12-2020.JPEG" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/Fortis-COVID-19-Newsletter58.jpg" style="width: 100%;" alt="newsletter"></a>
            <a href="https://s3-ap-southeast-1.amazonaws.com/s3.fortishealthcare.com/COVID-19FortisHealingTouchIssueNo-08-12-2020.JPEG" target="_blank"><button class="button button2">Read more</button></a>
          </div>
        </div>

        


        
      </div>


















    <!--News section starts here-->

    <div class="newscard-container" id="news">
      <div class="float-layout">
        <h1>News and Events</h1>
        <div class="newscard-image">
          <img
            src="https://www.businessinsider.in/thumb/msid-79794308,width-600,resizemode-4,imgsize-34027/india/news/online-courses-on-mental-and-physical-health-were-the-most-popular-in-2020/mental-health.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>Online courses on mental and physical health were the most popular in 2020</h5>
              <h7>18 Dec 2020</h7>
            </div>
            <div class="newscard-desc">
             New Delhi, Responding to the ongoing pandemic and turned to online learning to better understand the ways in which they are impacted and how to take care of mental and physical health. Courses on Covid-19, physical fitness, mental health and happiness, along with psychology in the healthcare domain, were among the most subscribed courses on Coursera online learning platform in 2020.

            </div>

            <a
              href="https://www.businessinsider.in/india/news/online-courses-on-mental-and-physical-health-were-the-most-popular-in-2020/articleshow/79794139.cms"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
        <div class="newscard-image">
          <img
            src="https://english.mathrubhumi.com/polopoly_fs/1.5145116.1604379739!/httpImage/image.jpg_gen/derivatives/landscape_894_577/image.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>COVID-19 recovery rate in India among highest in the world: Health Ministry</h5>
              <h8>17 Dec 2020 </h8>
            </div>
            <div class="newscard-desc">
              New Delhi: India's COVID-19 recovery rate is amongst the highest in the world, the Union Health Ministry said on Thursday, underlining that countries ...


            </div>
            <a
              href="https://english.mathrubhumi.com/news/india/covid-19-recovery-rate-in-india-among-highest-in-the-world-health-ministry-1.5288287"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
        <div class="newscard-image">
          <img
            src="https://www.theindianwire.com/wp-content/uploads/2020/12/google-3-696x464.jpg"
          />
          <div class="newscard">
            <div class="newscard-title">
              <h5>Google releases a new feature to tackle misinformation related to Covid-19 vaccines</h5>
              <h8>14 Dec 2020 </h8>
            </div>
            <div class="newscard-desc">
              This year, Google has rolled out a large number of features for combating the spread of misinformation related to Covid-19 on its platform. The company has rolled out a new website and has also made it easier for netizens to search for Covid-19 related information on its platforms.
            </div>
            <a
              href="https://www.theindianwire.com/internet/google-releases-a-new-feature-to-tackle-misinformation-related-to-covid-19-vaccines-300914/"
              style="text-decoration: none; color: black"
              ><button class="news_btn">Know more</button></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="emergency_nums" id="emergency_num">
      <!--Emergency numbers table starts here-->
      <h1>Emergency numbers</h1>
      <table role="table">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">State</th>
            <th role="columnheader">Emergency numbers.</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row">
            <td role="cell">Delhi</td>
            <td role="cell">011-23978046 OR 1075</td>
          </tr>
          <tr role="row">
            <td role="cell">Haryana</td>
            <td role="cell">08558893911</td>
          </tr>
          <tr role="row">
            <td role="cell">Gujarat</td>
            <td role="cell">079-23250818</td>
          </tr>
          <tr role="row">
            <td role="cell">Maharashtra</td>
            <td role="cell">022-22027990</td>
          </tr>
          <tr role="row">
            <td role="cell">Rajasthan</td>
            <td role="cell">0141-2225624</td>
          </tr>
          <tr role="row">
            <td role="cell">Tamil Nadu</td>
            <td role="cell">1099</td>
          </tr>

          <tr role="row">
            <td role="cell">West Bengal</td>
            <td role="cell">080-67335555</td>
          </tr>
          <tr role="row">
            <td role="cell">Madhya Pradesh</td>
            <td role="cell">011-23978046 </td>
          </tr>
          <tr role="row">
            <td role="cell">Uttar Pradesh</td>
            <td role="cell">0522-2237515</td>
          </tr>
          <tr role="row">
            <td role="cell">Karnataka</td>
            <td role="cell">080-46848600</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--Footer starts here-->
    <!-- The content of your page would go here. -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Global Giving<span> in the world</span></h3>

        <img src="" />

        <p class="footer-company-name">© 2020 Global Giving Pvt. Ltd.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>-----Address</span>
            ----place
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 22-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@golbalgiving.com"
              >support@globalgiving.com</a
            >
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Our Social Media Coordinates:</span>
        </p>
        <div class="footer-icons">
          <a href="#"
            ><img
              src="images/008-facebook.png"
              style="width: 40px"
              class="fa fa-facebook"
          /></a>
          <a href="#"
            ><img
              src="images/001-twitter.png"
              style="width: 40px"
              class="fa fa-twitter"
          /></a>
          <a href="#"
            ><img
              src="images/011-instagram.png"
              style="width: 40px"
              class="fa fa-instagram"
          /></a>
          <a href="#"
            ><img
              src="images/010-linkedin.png"
              style="width: 40px"
              class="fa fa-linkedin"
          /></a>
          <a href="#"
            ><img
              src="images/007-youtube.png"
              style="width: 40px"
              class="fa fa-youtube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
