{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Humanities</title>
    <link rel="stylesheet" href="{% static 'css/engineering.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <!--Navbar starts here-->
    <div class="topnav">
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#humanities">Humanities</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#courses">Courses</a>
      <!-- Right-aligned links -->
      <div class="topnav-right">
        >
        <a href="{% url 'ctgs' %}">Education</a>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>

    <!--Courses start here-->

    <div class="courses">
      <h1>Top Picks for you!!</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/101/109101004/"><img src="{% static 'images/h1.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>
              Contemporary Issues in Philosophy of Mind and Cognition             
            </h1>
            <p>This course analyses how human mind is unique in comparison to chimpanzees or robots?
               Can mind be completely explained in scientific terms? The structure of this course is interdisciplinary in nature. 
              It discusses the current issues in cognitive science, artificial intelligence and consciousness.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/103/109103019/"> <img src="{% static 'images/h2.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>Cultural Studies</h1>
            <p>
              Cultural studies is a field of theoretically, politically, and empirically engaged cultural analysis that concentrates upon the political dynamics of contemporary culture, its historical foundations, defining traits, conflicts, and contingencies. Cultural studies researchers generally investigate how cultural practices relate to wider systems of power associated
               with or operating through social phenomena,
                such as ideology, class structures, national formations, ethnicity, sexual orientation, gender, and generation.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/103/109103141/">  <img src="{% static 'images/h3.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>
   An Introduction to Political Theory
            </h1>
            <p>Political Theory involves both the philosophy and science of state, government and politics. 
              It is both normative as well as empirical in nature and content.
              Several modern political scientists define political theory a
              s a set of theories or generalisations which describe or explain various dimensions of politics.
              Political theorists tend to focus more on theoretical claims rather than empirical claims about the nature of the politics.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/106/109106052/">  <img src="{% static 'images/h4.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>
              Aspects of Western philosophy
            </h1>
            <p>Western philosophy is the philosophical thought and work of the Western world. Historically, the term refers to the philosophical thinking of Western culture, beginning 
              with Greek philosophy of the pre-Socratics such as Thales (c. 624 – c. 546 BC) and Pythagoras (c. 570 – c. 495 BC), and eventually covering a large area of the globe.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/106/109106124/"><img src="{% static 'images/h5.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>History of English Language and Literature</h1>
            <p>
              English literature dates back exceeding five centuries. The literature not only 
              represents authors or writers from almost every part of the world but also it had untapped 
              almost every major genre of writings that one could possibly imagine.
              It does not include literature written in the other languages of Britain . 
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://nptel.ac.in/courses/109/107/109107131/"><img src="{% static 'images/h6.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>
             Sociology 
            </h1>
            <p>The sociology of scientific knowledge is the study of science as a social activity,
               especially dealing with "the social conditions and effects of science, and with the social structures and processes of scientific activity." 
               The sociology of scientific ignorance is complementary to the sociology of scientific knowledge. The sociology of 
              knowledge studies the impact of human knowledge and the prevailing ideas on societies.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLdrRx2zGbP4-b65GEdwjsr5B-k5m1FEbs"><img src="{% static 'images/h7.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>
          World History
            </h1>
            <p>World history or global history as a field of historical study examines history from a global perspective. It emerged centuries ago; leading practitioners have included Voltaire (1694-1778), Hegel (1770-1831), Karl Marx (1818-1883) and Arnold J. Toynbee (1889-1975). 
              The field became much more active (in terms of university teaching, text books, scholarly journals, and academic associations) in the late 20th century.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLGMKyXzHZrkktetMUhJk7_ZS4b1-HGVpH"><img src="{% static 'images/h8.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>Constitutional Law</h1>
            <p>
              Constitutional law is a body of law which defines the role, powers, and structure of different entities within a state, namely, the executive, the parliament or legislature, and the judiciary; as well as the basic rights of citizens 
              and, in federal countries such as the United States and Canada, the relationship between the central government and state, provincial, or territorial governments.
              Not all nation states have codified constitutions.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLp-cIkvQ88-3cuLduhTPzonbDFu2VBjn3"><img src="{% static 'images/h9.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>
                Yale courses
            </h1>
            <p>Open Yale Courses provides free and open access to a selection of introductory courses taught by distinguished teachers and scholars at Yale University. 
              The aim of the project is to expand access to educational materials for all who wish to learn.
              All lectures were recorded in the Yale College classroom and are available in video, audio, and text transcript formats</p>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>


    <!--Footer starts here-->
    <!-- The content of your page would go here. -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Global Giving<span> in the world</span></h3>

        <img src="" />

        <p class="footer-company-name">© 2020 Global Giving Pvt. Ltd.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>-----Address</span>
            ----place
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 22-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@golbalgiving.com"
              >support@globalgiving.com</a
            >
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Our Social Media Coordinates:</span>
        </p>
        <div class="footer-icons">
          <a href="#"
            ><img
              src="{% static 'images/008-facebook.png' %}"
              style="width: 40px"
              class="fa fa-facebook"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/001-twitter.png' %}"
              style="width: 40px"
              class="fa fa-twitter"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/011-instagram.png' %}"
              style="width: 40px"
              class="fa fa-instagram"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/010-linkedin.png' %}"
              style="width: 40px"
              class="fa fa-linkedin"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/007-youtube.png' %}"
              style="width: 40px"
              class="fa fa-youtube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
