{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <!--Navbar starts here-->
    <div class="topnav">
      
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#home">Home</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#news">News</a>
      <a href="{% url 'scholarships' %}">Scholarships</a>
      <a href="{% url 'ctgs' %}">Categories</a>

      <!-- Right-aligned links -->
      <div class="topnav-right">
        <a href="#gallery">Gallery</a>
        <a href="#about">About</a>
      {% if user.is_authenticated %} 
        <a href="#" style="color:coral">{{ user.get_username }}</a>
        <a href="{% url 'logout1'%}">Logout</a>
      {% else %}
        <a href="{% url 'register'%}">SignUp</a>
        <a href="{% url 'login1'%}">Login</a>
      {% endif %}
      </div>
    </div>
    <div>
      <h1></h1>
    </div>





    <!--About section starts here-->
    <div class="about" id="about">
      <div class="row">
        <div class="column1">
          <div class="content">
            <h1 style="color: #2c292f;">About us</h1>
            <p style="font-size: 1.3rem;">Edu4 is a free-learning website providing courses of 4 streams on a single platform. It helps those people to learn just by signing in and providing free online courses. It also provides scholarship to the students who can excel in studies but can’t do because of lack of money.
            </p><p style="font-size: 1.3rem;"> Our objective is to:</p>
              <p style="font-size: 1.3rem;">• Enhance the quality of learning and teaching, by meeting the learning style/needs of the users.</p> 
              <p style="font-size: 1.3rem;"> •	Provide scholarships to students who need financial support.</p> 
                <p style="font-size: 1.3rem;">•	Provide news related to education.
            </p>
          </div>
        </div>

        <div class="column2">
          <div class="content">
            <h1 style="color:#2c292f">Achievements</h1>
            <ul>
              <li style="font-size: 1.3rem;">
                <img src="{% static 'images/check.png' %}" style="height: 19px" /> More than 8,000 people got scholarships for further studies.
              </li>
              <li style="font-size: 1.3rem;">
                <img src="{% static 'images/check.png' %}" style="height: 19px" /> Helped more than 500 people to achieve their education and jobs.
              </li>
              <li style="font-size: 1.3rem;">
                <img src="{% static 'images/check.png' %}" style="height: 19px" /> 100 companies partnered with Edu4 to provide study materials for humanities,medical and more.
              </li></ul>
          </div>
        </div>
      </div>
    </div>





    <div class="glrow" id="gallery">
      <div class="glcolumn">
        <img src="{% static 'images/gg1.jpg' %}" style="width: 100%; height: 200px" />
        <img src="{% static 'images/gg3.jpg' %}" style="width: 100%" />
        <img src="{% static 'images/gg6.jpg' %}" style="width: 100%; height: 230px" />
        
        
      </div>
      <div class="glcolumn">
        
        <img src="{% static 'images/lg.jpeg' %}" style="width: 100%; height:350px;" />
       
        <img src="{% static 'images/lg1.png' %}" style="width: 100%; height:400px;" />

      
        
      
      </div>
      <div class="glcolumn">
        <img src="{% static 'images/gg5.jpg' %}" style="width: 100%; height: 260px" />
         <img src="{% static 'images/gg2.jpg' %}" style="width: 100%" />
        
        
      </div>
    </div>






    <!--Services section starts here-->






   

<div class="newscard-container" id="news">
  <div class="float-layout">
  <h1 style="text-align: center;" style="color:#2c292f"> News and Events </h1>
    <div class="newscard-image">
      <img src="https://imgeng.jagran.com/images/2020/nov/anil-vij1605681423231.jpg">
      <div class="newscard">
        <div class="newscard-title"><h5>Haryana Health Minister Anil Vij offers to become first volunteer for Phase-III trial of Covaxin in state</h5>
        <h7> 18 Nov 2020 </h7></div>
        <div class="newscard-desc">
         Haryana Health Minister Anil Vij has offered to become the first volunteer for Phase-III clinical trial of Bharat Biotech's COVID-19 vaccine candidate Covaxin. The trial in the state will begin on November 20. 
        </div> 
         
          <a href="https://english.jagran.com/india/covid19-vaccine-news-haryana-health-minister-anil-vij-offers-to-become-first-volunteer-for-phaseiii-trial-of-covaxin-in-state-10020020" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
        
        
      </div>
    </div>
    <div class="newscard-image">
      <img src="https://media13.s-nbcnews.com/j/MSNBC/Components/Video/202012/ott_now_undocumented_201216_1920x1080.focal-860x484.jpg">
      <div class="newscard">
        <div class="newscard-title"><h5>Sixty-nine percent of undocumented immigrant workers have jobs 'essential' to fighting Covid, says study</h5>
        <h8>16 Dec 2020  </h8>
        </div>
        <div class="newscard-desc">
         More than two-thirds of undocumented immigrant workers have frontline jobs considered "essential" to the U.S. fight against Covid-19, according to a new study released Wednesday by pro-immigration reform group FWD.US. 
        </div>
         <a href="https://www.nbcnews.com/politics/immigration/sixty-nine-percent-undocumented-immigrant-workers-have-jobs-essential-fighting-n1251390" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
      </div>
    </div>
    <div class="newscard-image">
      <img src="http://ianslive.in/upload/2020/December/17/r-1608213384202012171926241765_l.jpg">
      <div class="newscard">
        <div class="newscard-title"><h5>Britain to help K'taka develop leadership in higher education</h5>
        <h8>17 Dec 2020 </h8>
        </div>
        <div class="newscard-desc">
          Britain will help Karnataka in developing leadership in higher education centres and strengthen research exchange between the two partners, said an official on Thursday.
        </div>
         <a href="http://ianslive.in/index.php?param=news/Britain_to_help_Ktaka_develop_leadership_in_higher_education-745992/NATION/1" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
      </div>
    </div>
  </div>
</div>



    <!--Footer starts here-->
    <!-- The content of your page would go here. -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Education <span>all over the world</span></h3>

        <img src="" />

        <p class="footer-company-name">© 2021 Edu4 Inc.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>-----Address</span>
            ----place
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 22-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@edu4.com"
              >support@edu4.com</a
            >
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Our Social Media Coordinates:</span>
        </p>
        <div class="footer-icons">
          <a href="#"
            ><img
              src="{% static 'images/008-facebook.png' %}"
              style="width: 40px"
              class="fa fa-facebook"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/001-twitter.png' %}"
              style="width: 40px"
              class="fa fa-twitter"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/011-instagram.png' %}"
              style="width: 40px"
              class="fa fa-instagram"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/010-linkedin.png' %}"
              style="width: 40px"
              class="fa fa-linkedin"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/007-youtube.png' %}"
              style="width: 40px"
              class="fa fa-youtube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
