{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Edu4</title>
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <body>
    <!--Navbar starts here-->
    <div class="topnav">
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#jobs">Scholarships</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#news">News</a>
      <!-- Right-aligned links -->
      <div class="topnav-right">
        
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>

    <!--Courses start here-->

    <div class="roles" id="role">
      <h1 style="font-weight:bolder;">Scholarships</h1>
      <div class="row">
        <div class="column">
          <div class="card">
           <h2> Security Cleared* Lead DevSecOps Consultant/Architect </h2>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Congue quisque egestas diam in arcu cursus euismod. Accumsan
             
            </p>
            <p><strong>Salary: </strong>30,000</p>
            <a href="{% url 'appln_info'%}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
           <h2> Security Cleared* Lead DevOps Consultant /Architect  </h2>
            <p>Some Lorem epsum fiii kklja text</p>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              
              
            </p>
            <p><strong>Salary:</strong> 40,000</p>
            <a href="{% url 'appln_info' %}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
           <h2> Security Cleared* Lead DevSecOps Consultant/Architect </h2>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Congue quisque egestas diam in arcu cursus euismod. Accumsan
              
            </p>
            <p><strong>Salary:</strong> 20,000</p>
            <a href="{% url 'appln_info'%}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
           <h2> Security Cleared* Lead DevSecOps Consultant/Architect </h2>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Congue quisque egestas diam in arcu cursus euismod. Accumsan
              
            </p>
            <p><strong>Salary:</strong> 70,000</p>
            <a href="{% url 'appln_info'%}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
           <h2> Security Cleared* Lead DevSecOps Consultant/Architect </h2>
            <p>Some Lorem epsum fiii kklja text</p>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            
             
            </p>
            <p><strong>Salary:</strong> 80,000</p>
            <a href="{% url 'appln_info'%}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>

        <div class="column">
          <div class="card">
          <h2> Security Cleared* Lead DevSecOps Consultant/Architect </h2>
            <p>
              Some Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Congue quisque egestas diam in arcu cursus euismod. Accumsan
              
            </p>
            <p><strong>Salary:</strong> 1,00,000</p>
            <a href="{% url 'appln_info'%}" style="text-decoration:none; color:black"><button class="button button2">Apply</button></a>
          </div>
        </div>
      </div>

     


<div class="newscard-container" id="news">
  <div class="float-layout">
  <h1> News and Events </h1>
    <div class="newscard-image">
      <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB15ywK4.img?h=152&w=270&m=6&q=60&o=f&l=f">
      <div class="newscard">
        <div class="newscard-title"><h5>Demonstration of skills to get preference over experience in new jobs: LinkedIn</h5>
        <h7>17 Dec 2020 </h7></div>
        <div class="newscard-desc">
         As 2020 comes to a close, online professional network LinkedIn has released a key survey and platform data to discuss how the year was, the sentiment of the Indian workforce, and 10 key predictions that will define the future of work in 2021.
        </div> 
         
          <a href="https://www.msn.com/en-in/money/news/demonstration-of-skills-to-get-preference-over-experience-in-new-jobs-linkedin/ar-BB1bYIRR" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
        
        
      </div>
    </div>
    <div class="newscard-image">
      <img src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB10rQ3P.img?h=152&w=270&m=6&q=60&o=f&l=f">
      <div class="newscard">
        <div class="newscard-title"><h5>Private sector to play important role in job, wealth creation & innovation: Ex-CII president S Gopalakrishnan</h5>
        <h8>7 Dec 2020 </h8>
        </div>
        <div class="newscard-desc">
          Industry body CII has put together an action agenda to ensure a well-developed and inclusive India by 2022, which will be the year India turns 75. So, what should the priorities be and where should the private sector focus its attention?
        </div>
         <a href="https://www.msn.com/en-in/money/news/private-sector-to-play-important-role-in-job-wealth-creation-26-innovation-ex-cii-president-s-gopalakrishnan/ar-BB1bI1f1" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
      </div>
    </div>

    <div class="newscard-image">
      <img src="https://www.onrec.com/sites/onrec/directory/files/REC.png">
      <div class="newscard">
        <div class="newscard-title"><h5>Job adverts reach new 2020 high in early December, boosting hopes of growth for 2021</h5>
        <h8>14 Dec 2020 </h8>
        </div>
        <div class="newscard-desc">
         The number of active job adverts in the UK rose to a new high in the first week of December, after growth in the labour market stalled during England’s month-long lockdown.
        </div>
         <a href="https://www.onrec.com/news/statistics/job-adverts-reach-new-2020-high-in-early-december-boosting-hopes-of-growth-for-2021" style="text-decoration:none; color:black;"><button class="news_btn">Know more</button></a>
      </div>
    </div>
  </div>
</div>







    <!--Footer starts here-->
    <!-- The content of your page would go here. -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Education<span> all over the world</span></h3>

        <img src="" />

        <p class="footer-company-name">© 2021 Edu4 Inc.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>-----Address</span>
            ----place
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 22-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@golbalgiving.com"
              >support@edu4.com</a
            >
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Our Social Media Coordinates:</span>
        </p>
        <div class="footer-icons">
          <a href="#"
            ><img
              src="{% static 'images/008-facebook.png' %}"
              style="width: 40px"
              class="fa fa-facebook"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/001-twitter.png' %}"
              style="width: 40px"
              class="fa fa-twitter"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/011-instagram.png' %}"
              style="width: 40px"
              class="fa fa-instagram"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/010-linkedin.png' %}"
              style="width: 40px"
              class="fa fa-linkedin"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/007-youtube.png' %}"
              style="width: 40px"
              class="fa fa-youtube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
