{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Medical</title>
    <link rel="stylesheet" href="{% static 'css/engineering.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <!--Navbar starts here-->
    <div class="topnav">
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#medical">Medical</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#courses">Courses</a>
      <!-- Right-aligned links -->
      <div class="topnav-right">
       
        <a href="{% url 'ctgs' %}">Education</a>
        <a href="{% url 'home' %}">Home</a>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>
  
  <!--Courses start here-->
    <div class="courses">
      <h1>Top Picks for you!!</h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PL0VHgizZl1gW0jgMrfy-QuxM85OPkx3k-"><img src="{% static 'images/biochem.jpg' %}" style="width:100%;height: 220px;"></a>
            <h1>
             Biochemistry 
            </h1>
            <p>Biochemistry is the science in which chemistry is applied to the study of living organisms and the atoms and molecules which comprise living organisms. 
              Take a closer look at what biochemistry is and why the science is important.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLf15MyoIX0aM1aQgr-d0-fMGBDoE-r-nF"> <img src="{% static 'images/physio.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>Physiology</h1>
            <p>
              It describes the chemistry and physics behind basic body functions, from how molecules behave in cells to how systems of organs work together.
              Most of physiology depends on basic research studies.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLekhl8ZQS2PbLtpx03GUbTH5CKqPZA2r_">  <img src="{% static 'images/anatomy.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>Anatomy</h1>
            <p>Anatomy is the identification and description of the structures of living things. It is a branch of biology and medicine.
              An understanding of anatomy is key to the practice of medicine and other areas of health.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLVnjTkEwv-uNBqGkNdbR2AdfB8PBKdCAE">  <img src="{% static 'images/pediat.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>Pediatrics</h1>
            
            <p>Pediatrics is the branch of medicine that involves the medical care of infants, children, and adolescents.  
              Worldwide age limits of pediatrics have been trending up year over year. A medical doctor who specializes 
              in this area is known as a pediatrician, or paediatrician. </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLyiL_uZnIp1xAGF-jYuPwEJDUIVDIv6wX"><img src="{% static 'images/nephro.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>Nephrology</h1>
            <p>
              Nephrology is a specialty of medicine and pediatric medicine that concerns with study of the kidneys, 
              specifically normal kidney function and kidney disease, the preservation of kidney health, and the treatment of kidney disease.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLLywMQWaFPRQCxNVJJDE68fm0emfso5TI"><img src="{% static 'images/medical gen.jpg' %}" style="width:100%; height: 220px;"></a>
          <h1>General medicine</h1>  <p>
              General medicine is the branch of medicine that focuses on adult care. 
              It refers to the diagnosis and treatment of diseases of the internal organs.
               An internist may work with a patient’s heart, lungs and brain, among other organs.
               These doctors treat illnesses of the internal organs.
            </p>
            
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLLywMQWaFPRRgyMUwJSaEdhMUnbtdpE5P"><img src="{% static 'images/ortho.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>Orthopedics</h1>
            </p>
            <p>Orthopaedics is the branch of surgery concerned with conditions involving the musculoskeletal system. Orthopedic surgeons use both 
              surgical and nonsurgical means to treat musculoskeletal trauma, spine diseases, sports injuries,
               degenerative diseases, infections, tumors, and congenital disorders.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLp0KsbiPOshtAZuAY02c-HyR120cvnObU"><img src="{% static 'images/radio.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1> Radiobiology</h1>
            <p>
              Radiobiology is a field of clinical and basic medical sciences that involves the study of the action of ionizing radiation on living things, 
              especially health effects of radiation. Ionizing radiation is generally harmful and potentially lethal to living things
               but can have health benefits in radiation therapy. 
   
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLLywMQWaFPRTX0WQa8fYwN679DnFLjdsC"><img src="{% static 'images/gyn.jpg' %}" style="width:100%; height: 220px;"> </a>
            <h1>Gynecology</h1>
            <p>Gynecology is the medical practice dealing with the health of the female reproductive system. 
              Outside medicine, the term means "the science of women". Its counterpart is andrology, 
              which deals with medical issues specific to the male reproductive system.
              Almost all modern gynaecologists are also obstetricians </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLVnjTkEwv-uOvGYtk-K6-Dh2m9_w6Bb_m"><img src="{% static 'images/anaes.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>
              Anesthesiology 
            </h1>
            <p>Anesthesiology is a medical specialty dealing with anesthesia and related matters, including resuscitation and pain.
               The development of anesthesiology as a specialized field came about because of the dangers of anesthesia, 
               which involves the use of carefully graduated doses of strong poisons.</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLVnjTkEwv-uMKHMDLsYa7kW45dG9tnAZo"> <img src="{% static 'images/emer.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>Emergency medicine</h1>
            <p>
              Emergency medicine, also known as accident and emergency medicine, is the medical specialty concerned
               with the care of illnesses or injuries requiring immediate medical attention. 
               Emergency physicians care for unscheduled and undifferentiated patients of all ages.
               Different models for emergency medicine exists.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="https://www.youtube.com/playlist?list=PLJY0wCIFC-JjIZLyfH6741RxXXxqLLANo"><img src="{% static 'images/derma.jpg' %}" style="width:100%; height: 220px;"></a>
            <h1>Dermatology
            </h1>
            <p>Dermatology is the branch of medicine dealing with the skin. It is a speciality with both medical and surgical aspects.
               A dermatologist is a specialist doctor who manages diseases related to skin, hair and nails and some cosmetic problems.
               It was initially combined with the diagnosis and treatment of venereal diseases</p>
          </div>
        </div>
      </div>
    </div>


    <!--Footer starts here-->
    <!-- The content of your page would go here. -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Global Giving<span> in the world</span></h3>

        <img src="" />

        <p class="footer-company-name">© 2020 Global Giving Pvt. Ltd.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>-----Address</span>
            ----place
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 22-27782183</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:support@golbalgiving.com"
              >support@globalgiving.com</a
            >
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Our Social Media Coordinates:</span>
        </p>
        <div class="footer-icons">
          <a href="#"
            ><img
              src="{% static 'images/008-facebook.png' %}"
              style="width: 40px"
              class="fa fa-facebook"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/001-twitter.png' %}"
              style="width: 40px"
              class="fa fa-twitter"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/011-instagram.png' %}"
              style="width: 40px"
              class="fa fa-instagram"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/010-linkedin.png' %}"
              style="width: 40px"
              class="fa fa-linkedin"
          /></a>
          <a href="#"
            ><img
              src="{% static 'images/007-youtube.png' %}"
              style="width: 40px"
              class="fa fa-youtube"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
