 <!--Navbar starts here-->
    <div class="topnav">
      <h1 class="orgName">Edu4</h1>
      <!-- Centered link -->
      <div class="topnav-centered">
        <a href="#home">Home</a>
      </div>
      <!-- Left-aligned links (default) -->
      <a href="#news">News</a>
      <a href="#donate">Donate</a>
      <!-- Right-aligned links -->
      <div class="topnav-right">
        <a href="#gallery">Gallery</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
      </div>
    </div>
    <div>
      <h1></h1>
    </div>
